* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink: #D658B3;
  --green: #45B442;

  --gray-700: #332B31;
  --gray-600: #4A4448;
  --gray-500: #756C71;
  --gray-400: #D3CFD2;
  --gray-300: #DFDCDF;
  --gray-200: #E9E7E9;
  --gray-100: #F4F1F2;

  --gradient-base: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%);
}


html {
  background-color: var(--gray-200);
}