.user-progress {
  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
  border-radius: 1rem;
  width: 35.5rem;
}

@media (width < 80em) {
  .user-progress {
    width: 21.875rem;
  }
}