.user-card {
  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
  border-radius: 1rem;
  width: 35.5rem;
  padding: 2rem;
  padding-top: 2.25rem;

  & .card-info {
    display: flex;
    justify-content: space-between;

    & .card-title {
      & span {
        font: var(--fw-regular) var(--fs-sm)/1.4 var(--font-family);
      }
    }

    & .card-id {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--gray-500);
      background-color: var(--gray-300);
      border-radius: 999px;
      
      padding: 0.375rem 0.75rem;
      width: fit-content;
      height: 2rem;

      & span {
        white-space: nowrap;
        font: var(--fw-bold) var(--fs-sm)/1.4 var(--font-family);
      }
    }
  }

  & .card-progress {
    --gridCols: 5;
    display: grid;
    grid-template-columns: repeat(var(--gridCols), 1fr);
    gap: 1rem;
    margin-top: 2rem;

    & .card-stamp {
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 1.25rem;
      background-color: var(--gray-200);
      padding: 0.75rem;

      & img {
        width: 4rem;
        height: 4rem;
        object-fit: cover;
      }
    }

    & .gift-stamp {
      padding: 1.5rem;

      & img {
        width: 2.5rem;
        height: 2.5rem;
        object-fit: cover;
      }
    }
  }
}

@media (width < 80em) {
  .user-card {
    width: 21.875rem;
    padding: 1.25rem;
    padding-top: 1.5rem;

    & .card-info {
  
      & .card-title {
        & span {
          font: var(--fw-regular) var(--fs-sm)/1.4 var(--font-family);
        }
      }
  
      & .card-id {
        padding: 0.21875rem 0.5rem;
        height: 1.5rem;

        & span {
          font: var(--fw-bold) var(--fs-xs)/1.4 var(--font-family);
        }
      }
    }

    & .card-progress {
      gap: 0.5rem;
      margin-top: 1.25rem;
  
      & .card-stamp {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 0.75rem;
        padding: 0.5rem;
  
        & img {
          width: 2.5rem;
          height: 2.5rem;
        }
      }

      & .gift-stamp {
        padding: 1rem;
  
        & img {
          width: 1.5rem;
          height: 1.5rem;
          object-fit: cover;
        }
      }
    }
  }
}